
  <div class="grid grid-cols-3 gap-4 m-2" >    
    <div class="flex-auto p-4 relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg mr-2"
             [ngClass]="inpColor === 'light' ? 'bg-white' : 'bg-red-900 text-white'"
             *ngFor="let student of inpStudents">
      <div class="flex flex-wrap">
        <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
          <h5 class="text-blueGray-400 uppercase font-bold text-xs">
            {{student.name}}
          </h5>
          <span class="font-semibold text-xl text-blueGray-700">
            {{student.mail}}
          </span>
        </div>
        <div class="relative w-auto pl-4 flex-initial">
            <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                NOTAS
              </h5>
          <div appResaltar [ngStyle]="getBg(student.notas)"
            class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full">
            {{student.notas  | number : '1.2-2'}}
          </div>
        </div>
      </div>
      <p class="text-sm text-blueGray-400 mt-4 ">
        <span class="mr-2 text-end" >
            {{student.fechaNac | date}}
        </span>
        <span class="pl-40 text-xl flex-end"> {{student.telefono}}</span>
      </p>
    </div>
    
</div>